$discount-icon: #bf0404;
$border-search: #154268;
$blue-focus: #1d78c2;
$opacity-img-home: #6e6e6e;
$opacity-img-catalog: #bcbcbc;
$opacity-img-catalog-active: #052357;
$selection: #2f7ed8;
$hover: #888;
$search-background: #DDD;
$button-search: #49AEEF;
$black-font: #000